@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Rock+Salt&display=swap');
/* Css */
nav .container-fluid{
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary{
    padding: 0;
}

nav .btn:hover{
    border:none;
}

hr{
    padding: 0;
    border-color: white;
    margin: 0;
    border-width: thin;
}

.logo{
    font-family: "Rock Salta", cursive; 
    color: white;
    margin-right: 1%;
}

.navbar-brand{
    font-family: "Playwrite IT Moderna", sans-serif;
}

.navbar-brand, .nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(151, 151, 247);
    border-top: 2px solid rgb(151, 151, 247); /* Cor e espessura do border */
    padding-top: 3px; /* Ajuste o padding se necessário */
}

.navbar-brand:focus, .nav-link:focus{
    color: rgb(151, 151, 247);
}

.navbar-brand:focus, .navbar-brand:hover{
    color: white;
}


.collapse .btn{
    background-color: white;
    color: black;
    border:none;
    transition: background-color 0.2s ease-in-out; 
    padding: 8px 15px;
    font-weight: 500;
    font-size: 15px
}

.collapse .btn:hover{
    background-color: rgb(62, 62, 77);
    color: white;
}

.textoP{
    padding-right: 5%;
    padding-left: 5%;
    width:100%;
    justify-items: center;
}

.mainBox .btn-primary{
    border:none;
    background-color: white;
    color: black;
    transition: background-color 0.2s ease-in-out;
    padding: none;
    font-weight: 500; 
    margin: 1%;
}

.mainBox .btn:hover{
    background-color: rgb(62, 62, 77);
    border:none;
    color: white;
}

.containerPhoto{
    position: relative; 
    display: inline-block;
}

.containerPhoto .btn-outline-success{
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o botão */
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    opacity: 0; /* Esconde o botão por padrão */
    transition: opacity 0.3s ease;
    font-weight: bold; 
}

.containerPhoto:hover .btn{
    opacity: 1;
}

.containerPhoto .btn:hover{
    background-color: rgb(62, 62, 77);
    color: white;
    transition: background-color 0.2s ease-in-out; 
}

.containerPhoto:hover img {
    filter: brightness(50%); /* Escurece a imagem */
  }

.mainBox{
    background-color: black;
    border-bottom: 1px solid white;
}

section .container-fluid{
    text-align: center;
    padding: 10%;
    border-bottom: 1px solid white;
}

.caixaTexto{
    color: white;
}

.caixaTexto span{
    font-size: 15px;
    /* font-weight: bold; */
}

.caixaTexto p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 60%;
}

.caixaTexto h1{
    font-weight: bold;
    font-size: 60px;
}

button.btn.btn-secondary.btn-sm.dropdown-toggle {
    background-color: transparent;
    border: none;
    font-weight: 500; 
    padding: 20%;
    font-size: 15px;
}

.btn-group .dropdown-menu {
    left: 50px !important; /* Move o dropdown 50px para a direita */
  }

.mainBox .btn-group{
    font-size: 16px;
    font-weight: 500; 
}  

.mainBox span{
    color: white;
    font-size: 14px;
}

.content .row{
    margin: 0;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

section.content{
    background-color: black;
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
}

nav .img{
    width: 10%;
}

.text ul {
    list-style: inside;
    list-style-type: disclosure-closed;
}

.bottomBox .row{
    padding-top: 5%;
    white-space: pre-line;
}

ul {
    list-style: inside;
    list-style-type: disclosure-closed;
}

section .container-fluid {
    text-align: center;
    padding: 5%;
    border-bottom: 1px solid white;
}

.img-thumbnail {
    object-fit: cover;
    width: 80%;
    height: 100%;
}

.Valentina .container-fluid {
    justify-items: center;
}

.img-fluid {
    width: 70%;
    margin: 5%;
    height: auto;
}

.card{
    border-color: white;
    background-color: transparent;
    color: white;
}

.Valentina {
    background-color:black;
}

.card-title {
    margin-top: 5%;
}

.card-text{
    font-size: 17px;
}

p.card-text.primeiroTexto {
    text-align: justify;
}

.card-body{
    padding-right: 5%;
}

.row-cols-4>* {
    flex: 0 0 auto;
    width: 25%;
}

.col{
    padding-bottom: 5%;
    text-align: center;
}